<div class="resume">

  <div class="personalInfo">
    <h1>Nickee Coco</h1>
    <address>1234 boulevard Saint-Laurent<br>Montreal, QC, A1B 2C3<br>(514) 123-4567<br>nickeecoco@gmail.com</address>
  </div>

  <div class="summary">
    <h2>Summary</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consectetur, magna sed mattis fermentum, libero
      enim dapibus ipsum, ac vestibulum dolor nulla non ipsum. Sed at vehicula sem. Cras tincidunt, lacus a semper
      molestie, ipsum diam mollis velit, eu malesuada lorem nulla a neque. Aenean ac fermentum dolor. </p>
  </div>

  <div class="education">
    <h2>Education</h2>
    <p>UNIVERSITY OF MONTREAL <span class="educationDates">09/09 - 12/13</span><br>
      Bachelor of Arts, Finance</p>
  </div>

  <div class="experience">
    <h2>Experience</h2>
    <p>TRADELOT, Banker <span class="exploymentDates">01/14 - Present</span></p>
    <ul>
      <li>Suspendisse vitae nibh nisi. Suspendisse sit amet est ut nulla semper semper quis in neque.</li>
      <li>Suspendisse potenti. Nunc maximus ut ex in eleifend.</li>
      <li>Nulla id libero hendrerit, posuere ex a, aliquam purus. </li>
    </ul>

  </div>
</div>
